<div class="container-fluid">
  <form [formGroup]="PurchaseOrderForm">
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label for="" class="form-label">Client Name</label>
          <select class="form-select" id="exampleFormControlSelect1"
            formControlName="clientname"
            [ngClass]="{ 'is-invalid': submitted && f['clientname'].errors }">
            <option selected disabled value="">Choose...</option>
            <option>Collabra-Collabra Inc</option>
            <option>Collabra-Collabra Inc</option>
          </select>
          <div *ngIf="submitted && f['clientname'].errors" class="invalid-feedback">
            <div *ngIf="f['clientname'].errors['required']">
              <span>Mandatory field</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="" class="form-label">Purchase Order Type</label>
          <select class="form-select" id="exampleFormControlSelect1"
            formControlName="purchasetype"
            [ngClass]="{ 'is-invalid': submitted && f['purchasetype'].errors }">
            <option selected disabled value="">Choose...</option>
            <option>Group PO</option>
            <option>Individual PO</option>
          </select>
          <div
            *ngIf="submitted && f['purchasetype'].errors" class="invalid-feedback">
            <div *ngIf="f['purchasetype'].errors['required']">
              <span>Mandatory field</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="" class="form-label">Purchase Order No</label>
          <input type="text" class="form-control" placeholder="PO Number"
            formControlName="prchaseno"
            [ngClass]="{ 'is-invalid': submitted && f['prchaseno'].errors }"/>
          <div
            *ngIf="submitted && f['prchaseno'].errors" class="invalid-feedback">
            <div *ngIf="f['prchaseno'].errors['required']">
              <span>Mandatory field</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="" class="form-label">Received On</label>
          <input type="date" class="form-control"
            formControlName="receivedon"
            [ngClass]="{ 'is-invalid': submitted && f['receivedon'].errors }"/>
          <div
            *ngIf="submitted && f['prchaseno'].errors"
            class="invalid-feedback">
            <div *ngIf="f['prchaseno'].errors['required']">
              <span>Mandatory field</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-lg-3">
        <div class="form-group">
          <label for="" class="form-label">Received Form Name</label>
          <input type="string" class="form-control" placeholder="Reaceived Form Name"
            formControlName="receivedname"
            [ngClass]="{ 'is-invalid': submitted && f['receivedname'].errors }"/>
          <div
            *ngIf="submitted && f['receivedname'].errors" class="invalid-feedback">
            <div *ngIf="f['receivedname'].errors['required']">
              <span>Mandatory field</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <label for="" class="form-label">Received Form Email</label>
        <input type="string" class="form-control" placeholder="Reaceived Form Email ID"
          formControlName="receivedemail"
          [ngClass]="{ 'is-invalid': submitted && f['receivedemail'].errors }"/>
        <div
          *ngIf="submitted && f['receivedemail'].errors" class="invalid-feedback">
          <div *ngIf="f['receivedemail'].errors['required']">
            <span>Mandatory field</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="form-label">PO Start Date</label>
              <input type="date" class="form-control"
                formControlName="postartdate"
                [ngClass]="{'is-invalid': submitted && f['postartdate'].errors}"/>
              <div
                *ngIf="submitted && f['postartdate'].errors"
                class="invalid-feedback">
                <div *ngIf="f['postartdate'].errors['required']">
                  <span>Mandatory field</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="form-label">PO End Date</label>
              <input type="date" class="form-control"
                formControlName="poenddate"
                [ngClass]="{ 'is-invalid': submitted && f['poenddate'].errors }"/>
              <div
                *ngIf="submitted && f['poenddate'].errors"
                class="invalid-feedback">
                <div *ngIf="f['poenddate'].errors['required']">
                  <span>Mandatory field</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="form-label">Budget</label>
              <input type="number" class="form-control" placeholder="Budget"
                formControlName="budget"
                [ngClass]="{ 'is-invalid': submitted && f['budget'].errors }"/>
              <div
                *ngIf="submitted && f['budget'].errors"
                class="invalid-feedback">
                <div *ngIf="f['budget'].errors['required']">
                  <span>Mandatory field</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="form-label">Currency</label>
              <select
                class="form-select"
                id="exampleFormControlSelect1"
                formControlName="currency"
                [ngClass]="{ 'is-invalid': submitted && f['currency'].errors }">
                <option selected disabled value="">Choose...</option>
                <option>INR</option>
                <option>USD</option>
              </select>
              <div *ngIf="submitted && f['currency'].errors" class="invalid-feedback">
                <div *ngIf="f['currency'].errors['required']">
                  <span>Mandatory field</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="talentDetail">
    <h5>Talent Detail</h5>
    <button class="btn" (click)="addAccordion()">&plus; Add Another</button>
  </div>

  <div id="accordionContainer">
    <div ngbAccordion>
        <div ngbAccordionItem>
            <div ngbAccordionHeader>
                <button ngbAccordionButton>
                    <div class="row accordion-form-head">
                        <div class="col-6">
                            <label for="" class="form-label">Job Title/REQ Name</label>
                            <select class="form-select" [(ngModel)]="selectedFramework">
                              <option selected disabled value="">Choose...</option>
                                <option value="angular">Angular</option>
                                <option value="ionic">Ionic</option>
                              </select>
                        </div>
  
                        <div class="col-6">
                            <label for="" class="form-label">Job ID/REQ ID</label>
                            <input class="form-control" type="number" placeholder="Job ID/REQ ID">
                        </div>
                    </div>
                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <div *ngIf="selectedFramework === 'angular'">
                      <div class="row">
                        <div class="col-lg-12">
                         <div class="form-group">
                          <input type="checkbox" class="form-Control" [(ngModel)]="formEnabled"> 
                          <span class="chebox-name">Angular</span>
                         </div>
                        </div>
                      </div>
                      <form>
                        <div class="row">
                          <div class="col-lg-3">
                         <div class="form-group">
                          <label for="" class="form-label">Contract Duration</label>
                          <input class="form-control" type="number" placeholder="Contract Duration" [disabled]="!formEnabled">
                         </div>
                          </div>
                      
                          <div class="col-lg-9">
                            <div class="row">
                              <div class="col-lg-2">
                             <div class="form-group">
                              <label for="" class="form-label">Bill Rate</label>
                              <input class="form-control" type="number" placeholder="Bill Rate" [disabled]="!formEnabled">
                             </div>
                              </div>
                      
                              <div class="col-lg-2">
                                <div class="form-group">
                                  <label for="" class="form-label">Currency</label>
                                  <select class="form-select" [disabled]="!formEnabled">
                                      <option selected disabled value="">Choose...</option>
                                      <option>INR</option>
                                      <option>USD</option>
                                    </select>
                                </div>
                              </div>
                      
                              <div class="col-lg-2">
                                <div class="form-group">
                                 <label for="" class="form-label">Standard Time BR</label>
                                 <input class="form-control" type="number" placeholder="Bill Rate" [disabled]="!formEnabled">
                                </div>
                                 </div>
                      
                                 <div class="col-lg-2">
                                   <div class="form-group">
                                     <label for="" class="form-label">Currency</label>
                                     <select class="form-select" [disabled]="!formEnabled">
                                         <option selected disabled value="">Choose...</option>
                                         <option>INR</option>
                                         <option>USD</option>
                                       </select>
                                   </div>
                                 </div>
                      
                                 <div class="col-lg-2">
                                  <div class="form-group">
                                   <label for="" class="form-label">Over Time BR</label>
                                   <input class="form-control" type="number" placeholder="Bill Rate" [disabled]="!formEnabled">
                                  </div>
                                   </div>
                      
                                   <div class="col-lg-2">
                                     <div class="form-group">
                                       <label for="" class="form-label">Currency</label>
                                       <select class="form-select" [disabled]="!formEnabled">
                                           <option selected disabled value="">Choose...</option>
                                           <option>INR</option>
                                           <option>USD</option>
                                         </select>
                                     </div>
                                   </div>
                            </div>
                          </div>
                        </div>
                      </form>
                  </div>
              
                  
                    <div *ngIf="selectedFramework === 'ionic'">
                      <div class="row">
                        <div class="col-lg-12">
                         <div class="form-group">
                          <input type="checkbox" class="form-Control" [(ngModel)]="formEnabled"> 
                          <span class="chebox-name">Ionic</span>
                         </div>
                        </div>
                      </div>
                      <form >
                        <div class="row">
                          <div class="col-lg-3">
                         <div class="form-group">
                          <label for="" class="form-label">Contract Duration</label>
                          <input class="form-control" type="number" placeholder="Contract Duration" [disabled]="!formEnabled">
                         </div>
                          </div>
                      
                          <div class="col-lg-9">
                            <div class="row">
                              <div class="col-lg-2">
                             <div class="form-group">
                              <label for="" class="form-label">Bill Rate</label>
                              <input class="form-control" type="number" placeholder="Bill Rate" [disabled]="!formEnabled">
                             </div>
                              </div>
                      
                              <div class="col-lg-2">
                                <div class="form-group">
                                  <label for="" class="form-label">Currency</label>
                                  <select class="form-select" [disabled]="!formEnabled">
                                      <option selected disabled value="">Choose...</option>
                                      <option>INR</option>
                                      <option>USD</option>
                                    </select>
                                </div>
                              </div>
                      
                              <div class="col-lg-2">
                                <div class="form-group">
                                 <label for="" class="form-label">Standard Time BR</label>
                                 <input class="form-control" type="number" placeholder="Bill Rate" [disabled]="!formEnabled">
                                </div>
                                 </div>
                      
                                 <div class="col-lg-2">
                                   <div class="form-group">
                                     <label for="" class="form-label">Currency</label>
                                     <select class="form-select" [disabled]="!formEnabled">
                                         <option selected disabled value="">Choose...</option>
                                         <option>INR</option>
                                         <option>USD</option>
                                       </select>
                                   </div>
                                 </div>
                      
                                 <div class="col-lg-2">
                                  <div class="form-group">
                                   <label for="" class="form-label">Over Time BR</label>
                                   <input class="form-control" type="number" placeholder="Bill Rate" [disabled]="!formEnabled">
                                  </div>
                                   </div>
                      
                                   <div class="col-lg-2">
                                     <div class="form-group">
                                       <label for="" class="form-label">Currency</label>
                                       <select class="form-select" [disabled]="!formEnabled">
                                           <option selected disabled value="">Choose...</option>
                                           <option>INR</option>
                                           <option>USD</option>
                                         </select>
                                     </div>
                                   </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div id="accordionContainer" >
    <ng-container *ngFor="let accordion of accordions" >
      <div ngbAccordion class="mt-4">
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
              <div class="row accordion-form-head">
                <div class="col-6">
                  <label for="" class="form-label">Job Title/REQ Name</label>
                  <select class="form-select" id="exampleFormControlSelect1">
                    <option selected disabled value="">Choose...</option>
                    <option>Collabra-Collabra Inc</option>
                    <option>Collabra-Collabra Inc</option>
                  </select>
                </div>

                <div class="col-6">
                  <label for="" class="form-label">Job ID/REQ ID</label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Job ID/REQ ID"
                  />
                </div>
              </div>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template> 
                
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="form-button">
    <button class="btn" (click)="onreset()">Reset</button>
    <button class="btn save" [disabled]="isDisabled" (click)="onSave()">
      Save
    </button>
  </div>
  
</div>



